<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Vue.js - Calculator</title>
	<link href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<style>
		input.form-control { display: inline-block; width: 20%; }
		h1 { margin: 1.4rem 0; } 
		h4 { margin-top: 1rem; }
		.space { margin-top: 2rem; }
	</style>
</head>
<body>
	<div id="app" class="container">
		<h1>Calculator</h1>
		<form>
			<input class="form-control" v-model="val1"/>
			 +
			<input class="form-control" v-model="val2"/>
			<button @click.prevent="add(val1,val2)" class="btn btn-primary">Calculate</button>

			<h4>Result: {{val1}} + {{val2}} = {{result}}</h4>
			<button @click.prevent="reset()" class="btn btn-primary space">Reset</button>
		</form>
	</div>

	<script src="https://unpkg.com/vue"></script>
	<script>

		const app = Vue.createApp({
			data: function() {
				return {
					val1: 0,
					val2: 0,
					result: 0
				}
			},
			methods: {
				add(val1,val2) {
					this.result = Number(this.val1)+Number(this.val2)
				},
				reset(){
					this.result = 0,
					this.val1 = 0,
					this.val2 = 0
				}
			}	
			
		});
		app.mount('#app')
	</script>
</body>
</html>
